<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>admin page</title>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/admin.js"></script>
</head>

<body>
    <h1>Admin page</h1>
    <form th:action="@{/logout}" method="post">
        <input class="button" type="submit" value="Sign Out" />
    </form>

    <h2>Add Book:</h2>
    <form class="container" onsubmit="return addBook(this)">
        <p><label>title: </label><input type="text" name="title" required="required"></input></p>
        <p><label>author: </label><input type="text" name="author" required="required"></input></p>
        <p><label>year: </label><input type="number" name="year" min="0" class="inputYear" required="required"></input>
        </p>
        <p><label>price: </label><input type="text" name="price" required="required"></input></p>
        <p><input type="submit" value="add book"></input></p>
    </form>

    <table>
        <caption>Books:</caption>
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">year</th>
            <th scope="col">price</th>
            <th scope="col" colspan="2">actions</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.year}"></td>
            <td><span>$</span><span th:text="${book.price}"></span></td>
            <td th:id="${book.id}" class="addToCartButton button" onclick="updateBook(this.id)">update book</td>
            <td th:id="${book.id}" class="addToCartButton button" onclick="deleteBook(this.id)">delete book</td>
        </tr>
    </table>
</body>

</html>