<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>books page</title>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/books.js"></script>
</head>

<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input class="button" type="submit" value="Sign Out"/>
    </form>
    <button class="button" onclick="deleteCart()">delete cart</button>
    <p><span>Total sum: </span><span>$</span><span th:text="${cartSum}"></span></p>
    <table>
        <caption>Shopping cart:</caption>
      <tr>
          <th scope="col">title</th>
          <th scope="col">author</th>
          <th scope="col">year</th>
          <th scope="col">price</th>
          <th scope="col">quantity</th>
      </tr>
      <tr th:each="book : ${cart}">
          <td th:text="${book.title}"></td>
          <td th:text="${book.author}"></td>
          <td th:text="${book.year}"></td>
          <td><span>$</span><span th:text="${book.price}"></span></td>
          <td th:text="${book.quantity}"></td>
      </tr>
  </table>


    <table>
          <caption>Store:</caption>
        <tr>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">year</th>
            <th scope="col">price</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.year}"></td>
            <td><span>$</span><span th:text="${book.price}"></span></td>
            <td th:id="${book.id}" class="addToCartButton button" onclick="addToCart(this.id)">add to cart</td>
        </tr>
    </table>
</body>
</html>