<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Book store - error</title>
    <script src="/scripts/utils.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <h1>Error</h1>

    <p>Click <a class="button" th:href="@{/}">here</a> to go back to safety</p>
    <div class="bottom-spacer-div"></div>
</body>

</html>